@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- contact -->
<div class="contact">
	<div class="container">
		<div class="title-div">
			<h3 class="tittle">
				<span>C</span>ontact
				<span>U</span>s
			</h3>
			<div class="tittle-style">
			</div>
		</div>
		<div class="contact-row">
			<div class="col-md-6 contact-text1">
				<h4>
					Contact Kinadec Academy.
				</h4>
				<p>
					Send Us a message by filling this form below. You can also call or email us via the contact phone number and email address
				</p>
			</div>
			<div class="col-md-6 contact-w3lsright">

				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.397709382039!2d6.998553574174723!3d4.872858440142758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069d1f3a4a949c3%3A0xf1b6f168c8441156!2sObio%20Akpor%20Local%20Government%20Council!5e0!3m2!1sen!2sng!4v1682251286685!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="contact-lsleft">
	<div class="container">
		<div class="address-grid">
			<h4>Contact Details</h4>
			<ul class="w3_address">
				<li>
					<span class="fa fa-globe" aria-hidden="true"></span>PLOT 498 OKPORO NGBUKWU FARMLAND OBOGORO OBIO/AKPOR LOCAL GOVERNMENT AREA, PORTHARCOURT, RIVERS STATE, NIGERIA.
				</li>
				<li>
					<span class="fa fa-envelope-o" aria-hidden="true"></span>
					<a href="kinadecacademy@gmail.com">kinadecacademy@gmail.com</a>
				</li>
				<li>
					<span class="fa fa-phone" aria-hidden="true"></span>07038847969
				</li>
			</ul>
		</div>
		<div class="contact-grid agileits">
			<h4>Get In Touch</h4>
			<form action="#" method="post">
				<div class="">
					<input type="text" name="Name" placeholder="Name" required="">
				</div>
				<div class="">
					<input type="email" name="Email" placeholder="Email" required="">
				</div>
				<div class="">
					<input type="text" name="Phone Number" placeholder="Phone Number" required="">
				</div>
				<div class="">
					<textarea name="Message" placeholder="Message..." required=""></textarea>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
<!-- //contact -->