@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 <!-- mission -->
	<div class="about-sec" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>M</span>ission
				
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="about-sub">
				<div class="col-md-6 about_bottom_left">
				
					<p><strong>Mission</strong>&nbsp;</p>

<p>The mission&nbsp; ​is to foster the independence, critical thinking, and creativity of a diverse community of&nbsp;<br />
learners so they are fully prepared to become confident, and responsible leaders.</p>

				
				</div>
				<!-- Stats-->
				<div class="col-md-6 about2-info">
					<img src="images/graduate.png" alt="" />
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //mission -->