@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


  <!-- vision -->
	<div class="about-sec" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>V</span>ision
					
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="about-sub">
				<div class="col-md-6 about_bottom_left">
				
			  <p><strong>Vision&nbsp;</strong></p>

<p>1. For students to apply the knowledge, skills, values, and behaviors learned through participation in a rigorous STEM-based education to realize their maximum potential as citizens and become more productive individuals in the global economy.</p>

<p>2. To create a rigorous and supportive academic program that will prepare 100% of our students to earn acceptance into the universities of their choice and where they gain the necessary skills to successfully earn a university degree.</p>

<p>3. To instill 21st-century skills, and inspire life-long learning.</p>

			
				</div>
				<!-- Stats-->
				<div class="col-md-6 about2-info">
					<img src="images/graduate.png" alt="" />
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //vision -->